dist
*.ifp
build
*.spec
logs.log
deepseek.py
version.txt
config/*.cfg
adamasmaca.json
ultraconsole.png
ultraconsole_1.ico
UltraConsole.version
database/users_db.db
UltraConsole_Setup.exe
UltraConsole_Setup_with_Source_Code.exe
